.tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--lines);
    gap: 1rem;

}

.td{
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--lines);
    padding: 0rem 2rem;
    justify-content: center;
    margin: 1rem;
    gap: 1rem;
    
}

.h2{
    font-size: 2rem;
    color: var(--primary-dark);
    font-weight: bold;
    width: max-content;
}

.tr:hover{
   background-color: var(--primary-light);

}

