.tr{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--lines);
    gap: 1rem;

}

.td{
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--lines);
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;
    min-width: 10rem;
}

.h2{
    font-size: 1.3rem;
    color: var(--primary-dark);
    font-weight: bold;
    width: max-content;
}
.p{
    font-size: 1rem;
    display: flex;
    min-width: max-content;
}
.tr:hover{
   background-color: var(--primary-light);

}

.activate{
    background-color: var(--primary-light);
 
 }

 .td_picture{
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    min-width: 18rem;
 }

 .picture{
    width: 5rem;
    height: 5rem;
    display: flex;
    border-radius: 50%;

 }

 .picture_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

 }



