.body{
    display: grid;
    grid-template-columns: auto 25rem;
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid var(--labels);
    align-items: center;
}

.logo_section{
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo{
    width: 13rem;
    align-self: center;
}

.options{
    display: flex;
    width: 100%;
    height: 100%;
}