.box{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    position: fixed;

}

.body{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 57rem;
    border: 1px solid var(--lines);
    margin: 0rem 0rem 0rem 0rem;
    border-radius: 12px;
    background: var(--background);
}

.button{
    display: flex;
    color: black;
}