.body{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    min-width: 100%;
    border-top: 1px solid var(--labels);
    position: fixed;
    bottom: 0;
    padding-bottom: 2rem;
    background-color: #fff;
    z-index: 99;
}
