.body{
    display: flex;
    flex-direction: column;
    width: 70rem;
    min-height: max-content;
    background-color: var(--background);
    margin: auto;
    margin-top: 3rem;
    border-radius: 1%;
    gap: 2rem;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-top: 10rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:2px solid var(--primary-gray);
    padding: 2rem 2rem 2rem 2rem;
}

.main{
    display: flex;
    flex-direction: column; 
    padding: 0rem 2rem 0rem 2rem;
}

.title{
    font-size: 2.5rem;
    color: var(--primary-dark);
    font-weight: bold;
}

.form{
   display: flex;
   flex-direction: column;
}

.inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
    margin-bottom: 1rem;
}

.logo{
    max-width: 18rem;
    align-self: center;
}
.buttons{
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
    justify-content: center;
    gap: 4rem;
}

.buttons > button{
    font-size: 1.4rem;
    font-weight:600;
    width: 20rem;
    height: 3rem;
}

.button_text{
    margin: 0rem 5rem;
}

.terms{
    color: var(--primary-dark);
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.4rem;
}

.copy{
    font-size: 1.4rem;
}
.terms:hover {
    text-decoration-color:var(--primary-base);
    cursor:pointer;  
}