.body{
display: flex;
min-width: max-content;
position: relative;
align-items: center;
border-radius: 1rem;
border: 1px solid var(--lines); 
height: 3.2rem;
}

.input{
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-second);
    color: var(--white-color);
    font-size: 1.3rem;


}

.button{
    position: absolute;
    right:0;
    z-index: 20;
    width: 20%;

}