.body{
    display: flex;
    flex-direction: column;
    padding: 5rem 3rem 3rem 5rem;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_options{
    display: flex;
    width: 60%;
    gap: 3rem;
}

.header_buttons{
    width: 35rem;
}

.title{
    font-size: 4.1rem;
    color: var(--primary-dark);
    font-weight: bold;
    margin-bottom: 2rem;
}