.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000;
}

.container {
  height: 80%;
  width: min(1000px, 85%);
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-rows: 6rem auto 6rem;
  overflow-y: scroll;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header h2 {
  font-weight: 600;
}

.main {
  background-color: var(--bg-colors);
  padding: 2rem;
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.main .ima h3 {
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.main .ima p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.75);
}

.main .div_items {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.main .div_items input {
  width: 100% !important;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.file_input {
  border: 2px dashed #ccc;
  border-radius: 5px;
}

.file_input input[type="file"] {
  display: none;
}

.file_input label {
  background-color: #fff;
  color: #666;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  /* padding: 15px; */
  padding-block: 4rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.file_input label:hover {
  background-color: #eee;
}

.input_box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* height: 100px;  */
  margin-bottom: 2rem;
}

.input_box span {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.file_types {
  font-size: 1.2rem;
  font-weight: 500;
}

.col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.select {
  height: 3.7rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.select_placeholder {
  color: #666;
}

.main_image {
  object-fit: contain;
  height: 20rem;
  margin: 0 auto;
  transform: 0.3s;
}

.main_image {
  background-color: rgba(0, 0, 0, 0.1);
}

.other_images {
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.input_box_mini {
  width: 7rem;
  height: 7rem;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.other_images {
  display: flex;
  gap: 1rem;
}

.second_image {
  width: 7rem;
  height: 7rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transition: 0.3s;
}
.input_box_mini:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.second_image:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
