.header {
  padding-block: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.container {
  width: min(1050px, 90%);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 4rem;
}

.nav a {
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}
